*{
    margin: 0;
    padding: 0;
    font-family:'inter';
} 
nav{
    font-weight:bolder;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 1620PX;
    margin: 0 auto;
    margin-top: 40px;
}
nav >button{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.part-1{
    background-image:url(./Hero-bg.png);
    width: 100%;
    height: 700px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-1-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    gap: 40px
}
.part-1-child h2{
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 1000;
    text-align: center;
}
.part-1-child p{
    text-align: center;
}
.part-1-child button{
    text-decoration: none;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.part-1-child>button>a{
    text-decoration: none;
    color: white;
}
.part-2{
    width: 1400px;
    margin:80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: rgba(169, 169, 169, 0.151);
    border-radius: 10px;
}
.part-2-child{
    width: 1000px;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px auto;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-direction: row;
}
.part-2-header{
    text-align: center;
    padding: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.part-2-header h2{
    font-size: 30px;
    font-weight: 800;
}
.part-2-header p{
    padding: 20px;
    font-size: 18px;
}
.part-2-card-1>h3{
    width: 300px;
    margin: 10px;
    font-size: 25px;
}
.part-2-card-1>p{
    margin: 10px;
    width: 500px;
}
.part-2-card-1>button{
    margin: 10px;
    padding: 5px 10px;
    background-color: white;
    font-size: 16px;
}
.part-2-card-2> h3{
    font-size: 25px;
    width: 400px;
    margin: 12px 0;
}
.part-2-card-2>p{
    width: 500px;
    margin: 12px 0;
    
}
.part-2-card-2>button{
    padding: 5px 10px;
    background-color: white;
    font-size: 16px;
    margin: 12px 0;
}
.part-2-card-3>h3{
    width: 300px;
    margin: 10px;
    font-size: 25px;
}
.part-2-card-3>p{
    margin: 10px;
    width: 500px;
}
.part-2-card-3>button{
    margin: 10px;
    padding: 5px 10px;
    background-color: white;
    font-size: 16px;
}
.part-3{
    margin: 30px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.vedio-title{
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width:600px;
}
.vedio-title>h2{
    font-size: 30px;
    font-weight: 1000;
}
.vedio-title>p{
    color: rgba(0, 0, 0, 0.74);
}
.current-target{
    width:1400px;
    margin: 100px auto;
}
.current-target-header{
    width: 600px;
    margin:30px auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.current-target-header>h2{
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}
.current-target-header>p{
    font-size: 18px;
    text-align: center;
}
.target-common-parent{
    display: flex;
    justify-content: space-around;
}
.target-common{
    width: 350px;
    display:flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    border-radius: 10px;
    padding:40px ;
    margin: 30px;
}
.target-common>img{
    width: 55PX;
}
.target-common>h2{
    font-size: 30px;
    font-weight: 1000;
}
.target-common>a{
    color:black;
    font-weight: bolder;
}
.next-target-parent{
    width: 1400px;
    margin: 100px auto;
}
.next-terget{
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    display: flex;
    gap: 20px;
    border-radius: 10px;
    margin: 30px;
}
.common-text>a{
    color: black;
    font-weight: bolder;
}
.common-text{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin:30px auto;
    margin-left:0px;
    gap: 25px;
}
.common-img{
    width: 100px;
    padding: 50px;
}

.feedback-part{
    width:1350px;
    height:350px;
    border: 1px solid black;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./handshake.jpg);
    background-size: cover;
    border-radius: 10px;;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
}
.background{
    width: 1350px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.342);
}
.submit-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    width: 1000px;
    margin: 50px auto;
}
.text{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.text>h2{
    font-size: 30px;
    font-weight: 700;
}
.text>p{
    color: rgba(255, 255, 255, 0.63);
}
.input-button >input[type="text"]{
    width: 700px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}
.input-button>input[type="submit"]{
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
}
#footer>section{
    background-color: rgba(169, 169, 169, 0.363);
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
}
.footer-text{
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold; 
}
 
